In [1]:
%load_ext sql
%sql postgresql://emilianodesu:password123@localhost:5432/practica6

Cargar sql

`\i tbls_practica6.sql`

Cargar csv

`\copy votante(id_Votante,nombre,apellido_Pat,apellido_Mat,fecha_Nacimiento,estado,rfc_candidato) FROM 'datos_votantes.csv' WITH DELIMITER ',' CSV;`

# Consultas

1. Nombre y años de existencia del partido más longevo.

In [7]:
%%sql
SELECT nombre_Oficial, 2024 - anio_fundacion AS anios_de_existencia 
FROM partido ORDER BY anios_de_existencia DESC LIMIT 1;

 * postgresql://emilianodesu:***@localhost:5432/practica6
1 rows affected.

[('PARTIDO REVOLUCIONARIO INSTITUCIONAL', 94)]

2. Nombre completo del candidato que recibió menos votos. El nombre debe mostrarse en una sola columna.

In [13]:
%%sql
SELECT CONCAT(nombre, ' ' , apellido_Pat , ' ' , apellido_Mat) AS nombre_completo
FROM candidato
WHERE rfc_candidato = (SELECT rfc_candidato FROM votante GROUP BY rfc_candidato ORDER BY COUNT(*) ASC LIMIT 1);

 * postgresql://emilianodesu:***@localhost:5432/practica6
1 rows affected.

[('GABRIEL QUADRI ',)]

3. Mostrar los datos de las votantes cuya día de nacimiento se encuentre entre entre el 14 y 20. Generar el AR correspondiente.

In [15]:
%%sql
SELECT * FROM votante WHERE EXTRACT(DAY FROM fecha_Nacimiento) BETWEEN 14 AND 20;

 * postgresql://emilianodesu:***@localhost:5432/practica6
9 rows affected.

[(2, 'JOSE', 'ROSALES', 'PEREZ', datetime.date(1977, 5, 20), 'mexico', 'default'),
 (3, 'JOSE', 'FONSECA', 'RAMIREZ', datetime.date(1961, 6, 18), 'mexico', 'CAND-4'),
 (8, 'JUAN', 'OCHOA', 'ALAMILLA', datetime.date(1950, 12, 15), 'hidalgo', 'CAND-2'),
 (13, 'SAUL', 'MARTINEZ', 'SIXTOS', datetime.date(1957, 2, 20), 'cdmx', 'default'),
 (14, 'VALERIA', 'CASTRO', 'VAZQUEZ', datetime.date(1955, 6, 19), 'cdmx', 'CAND-4'),
 (17, 'JULISE', 'BOUCHAN', 'ALVARADO', datetime.date(1989, 5, 19), 'puebla', 'CAND-1'),
 (20, 'ABRAHAM', 'VALDEMAR', 'SORIANO', datetime.date(1984, 3, 18), 'mexico', 'default'),
 (21, 'ABRAHAM', 'PASTENES', 'CRUZ', datetime.date(1978, 5, 14), 'cdmx', 'CAND-4'),
 (26, 'JORGE', 'TREJO', 'ROJO', datetime.date(1973, 6, 20), 'puebla', 'CAND-4')]

4. Nombre de los votantes cuya edad es mayor que todas las edades de los candidatos.

In [21]:
%%sql
SELECT concat(nombre, ' ', apellido_Pat, ' ', apellido_Mat)
FROM votante Where fecha_nacimiento > 
    (SELECT fecha_Nacimiento FROM candidato ORDER BY fecha_Nacimiento DESC LIMIT 1);

 * postgresql://emilianodesu:***@localhost:5432/practica6
14 rows affected.

[('MAURICIO VARGAS MEDINA',),
 ('JOSE ROSALES PEREZ',),
 ('FRANCINE LOPEZ ALONSO',),
 ('DIEGO LOPEZ HUITRON',),
 ('JESSICA RODRIGUEZ ANICETO',),
 ('AXEL RESENDIZ GONZALEZ',),
 ('GEOVANNI SANCHEZ CASTRO',),
 ('JULISE BOUCHAN ALVARADO',),
 ('KEVIN VILLARREAL PEREZ',),
 ('ABRAHAM VALDEMAR SORIANO',),
 ('ABRAHAM PASTENES CRUZ',),
 ('MARTIN REYES MARTINEZ',),
 ('RODRIGO PACHECO DAVALOS',),
 ('EDUARDO GONZALEZ TAMEZ',)]

5. Conteo de votantes por estado. Ordenar de forma descendente por el conteo.

In [22]:
%%sql
SELECT estado, COUNT(*) AS conteo
FROM votante GROUP BY estado ORDER BY conteo DESC;

 * postgresql://emilianodesu:***@localhost:5432/practica6
4 rows affected.

[('cdmx', 11), ('mexico', 7), ('puebla', 7), ('hidalgo', 6)]

6. Mostrar el nombre del votante y el nombre del candidato por el que votó.  Generar el AR correspondiente.

In [28]:
%%sql
SELECT concat(v.nombre, ' ', v.apellido_Pat, ' ', v.apellido_Mat) AS nombre_votante,
concat(c.nombre, ' ', c.apellido_Pat, ' ', c.apellido_Mat) AS nombre_candidato 
FROM votante v
JOIN candidato c ON v.rfc_candidato = c.rfc_candidato;

 * postgresql://emilianodesu:***@localhost:5432/practica6
22 rows affected.

[('JOSE FONSECA RAMIREZ', 'ANDRES LOPEZ OBRADOR'),
 ('BRIAN LOPEZ BARZALOBRE', 'ANDRES LOPEZ OBRADOR'),
 ('FRANCINE LOPEZ ALONSO', 'ANDRES LOPEZ OBRADOR'),
 ('DIEGO LOPEZ HUITRON', 'ANDRES LOPEZ OBRADOR'),
 ('JUAN OCHOA ALAMILLA', 'RICARDO ANAYA CORTES'),
 ('JUAN MORA RAMIREZ', 'RICARDO ANAYA CORTES'),
 ('JESSICA BAUTISTA AVILA', 'ANDRES LOPEZ OBRADOR'),
 ('VALERIA CASTRO VAZQUEZ', 'ANDRES LOPEZ OBRADOR'),
 ('GEOVANNI SANCHEZ CASTRO', 'ENRIQUE PENA NIETO'),
 ('JAVIER OSORIO FERNANDEZ', 'GABRIEL QUADRI '),
 ('JULISE BOUCHAN ALVARADO', 'ENRIQUE PENA NIETO'),
 ('ANTONIO JIMENEZ SALGADO', 'ANDRES LOPEZ OBRADOR'),
 ('KEVIN VILLARREAL PEREZ', 'ENRIQUE PENA NIETO'),
 ('ABRAHAM PASTENES CRUZ', 'ANDRES LOPEZ OBRADOR'),
 ('MARTIN REYES MARTINEZ', 'ENRIQUE PENA NIETO'),
 ('RODRIGO PACHECO DAVALOS', 'ANDRES LOPEZ OBRADOR'),
 ('JORGE ROMERO MENDOZA', 'ENRIQUE PENA NIETO'),
 ('JORGE TREJO ROJO', 'ANDRES LOPEZ OBRADOR'),
 ('ALDO GUZMAN VENEGAS', 'ANDRES LOPEZ OBRADOR'),
 ('FERNANDO SILVA NAVA', 'RICARDO ANAYA CORTES'),
 ('EDUARDO GONZALEZ TAMEZ', 'ANDRES LOPEZ OBRADOR'),
 ('CAROLINA GARCES JORDAN', 'ENRIQUE PENA NIETO')]

7. Nombre de los votantes cuyo nombre no empiece con A ó J. Eliminar duplicados.

In [30]:
%%sql
SELECT DISTINCT concat(nombre, ' ', apellido_Pat, ' ', apellido_Mat)
FROM votante WHERE nombre NOT LIKE 'A%' AND nombre NOT LIKE 'J%';

 * postgresql://emilianodesu:***@localhost:5432/practica6
14 rows affected.

[('ERICK PONCE MALDONADO',),
 ('GEOVANNI SANCHEZ CASTRO',),
 ('EDUARDO GONZALEZ TAMEZ',),
 ('VALERIA CASTRO VAZQUEZ',),
 ('MARTIN REYES MARTINEZ',),
 ('FERNANDO SILVA NAVA',),
 ('KEVIN VILLARREAL PEREZ',),
 ('SAUL MARTINEZ SIXTOS',),
 ('RODRIGO PACHECO DAVALOS',),
 ('BRIAN LOPEZ BARZALOBRE',),
 ('CAROLINA GARCES JORDAN',),
 ('DIEGO LOPEZ HUITRON',),
 ('FRANCINE LOPEZ ALONSO',),
 ('MAURICIO VARGAS MEDINA',)]