In [1]:
def dec2base(num=0, base=2):
    res = []
    while(num>0):
        res.append(num % base)
        num = num // base
    res.reverse()
    return res

print(dec2base(50))
print(dec2base(50,8))

[1, 1, 0, 0, 1, 0]
[6, 2]

In [2]:
def decimalabase(decimal=0, base=2):
    binario = 0
    i = 0
    while decimal > 0:
        digito = decimal % base
        decimal = decimal // base
        binario = binario+digito*(10**i)
        i = i+1
    return binario

print(decimalabase(50))
print(decimalabase(50,8))

110010
62

### Listas

In [3]:
x = [[9, 2], [1, 6], [5, 2], [1, 2]]
x.sort()
x

[[1, 2], [1, 6], [5, 2], [9, 2]]

In [4]:
x = [8, 3, 1, 2, 6, 9]
3 in x

True

In [5]:
5 not in x

True

In [6]:
x = [0]*100
x

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [7]:
x = [1, 2, 3, 4]
y = [5, 6, 7]
x.extend(y) # Modifica la lista
x

[1, 2, 3, 4, 5, 6, 7]

In [8]:
x+y # Devuelve otra lista

[1, 2, 3, 4, 5, 6, 7, 5, 6, 7]

In [9]:
x = [0, 1, 2, 3, 4, 2, 6, 4, 7, 2]
x.index(2)

2

In [10]:
x.index(2, 2)

2

In [11]:
x.count(4)

2

In [12]:
pop = x.pop(7)
pop

4

In [13]:
x

[0, 1, 2, 3, 4, 2, 6, 7, 2]

### Tuplas

In [14]:
x = (1, 2, 3, 4, 5)
type(x)

tuple

In [15]:
x[-1]

5

In [16]:
x[2:4]

(3, 4)

In [17]:
min(x)

1

In [18]:
len(x)

5

In [19]:
8 in x

False

In [20]:
8 not in x

True

In [21]:
(0,)*10

(0, 0, 0, 0, 0, 0, 0, 0, 0, 0)

In [22]:
list((1, 2, 3, 4, 5))

[1, 2, 3, 4, 5]

In [23]:
tuple([9, 8, 7, 6])

(9, 8, 7, 6)

### Strings

In [24]:
x = 'cadena con comilla simple'
type(x)

str

In [25]:
x = "cadena con comilla doble"
type(x)

str

In [26]:
x = '''cadena con triple comilla simple'''

In [27]:
x = """cadena con triple comilla doble
puede tener saltos
de linea"""
print(x)

cadena con triple comilla doble
puede tener saltos
de linea

#### Métodos asociados a cadenas

In [28]:
s = 'hola mundo'
s.split()

['hola', 'mundo']

In [29]:
s = 'hola;mundo;hace;calor'
s.split(';')

['hola', 'mundo', 'hace', 'calor']

In [30]:
s.split(';', 1)

['hola', 'mundo;hace;calor']

In [31]:
x = " ".join(['cadena', 'con', 'espacios'])
x

'cadena con espacios'

In [32]:
x = "&".join(['cadena', 'con', 'otros', 'caracteres'])
x

'cadena&con&otros&caracteres'

In [33]:
x = "".join(['cadena', 'sin', 'espacios'])
x

'cadenasinespacios'

In [34]:
x = "lo que sea".join(['cadena', 'sin', 'espacios'])
x

'cadenalo que seasinlo que seaespacios'

In [35]:
int('2534')

2534

In [36]:
float('198.253')

198.253

In [37]:
int('110010', 2)

50

In [38]:
int('62', 8)

50

In [39]:
int('32', 16)

50

In [40]:
x = 'ferrocarril'
x.find('rr')

2

In [41]:
x.find('rr', 3)

7

In [42]:
x.startswith('fe')

True

In [43]:
x.startswith('rr')

False

In [44]:
x.endswith(('i', 'il'))

True

In [45]:
repr([1,2,3,4])

'[1, 2, 3, 4]'

In [46]:
repr((1,2,3))

'(1, 2, 3)'

In [47]:
repr(123)

'123'

In [48]:
str([1,2,3])

'[1, 2, 3]'

#### Formato para cadenas

In [49]:
"el %s es la %s de los %s" % ('mezcal', 'bebida', 'dioses')

'el mezcal es la bebida de los dioses'

In [50]:
print('entero : %d' % 2)
print('flotante : %f' % 7.1234192838123)
print('flotante : >%10.2f<' % 7.1234192838123)
print('flotante : %.3e' % 0.00000000000012345) # Notación científica

entero : 2
flotante : 7.123419
flotante : >      7.12<
flotante : 1.234e-13

In [51]:
"el {0} es la {1} de los {2}".format('mezcal', 'bebida', 'dioses')

'el mezcal es la bebida de los dioses'

In [52]:
"el {2} es la {1} de los {2}".format('mezcal', 'bebida', 'dioses')

'el dioses es la bebida de los dioses'

In [53]:
"el {bebida} es la bebida de los {usrs[1]}".format(bebida='mezcal', usrs=['dioses', 'humanos'])

'el mezcal es la bebida de los humanos'

In [56]:
x = input('ingresa un numero: ')
x

'3j'

In [57]:
complex(x)

3j