# PostgreSQL en Jupyter Notebooks

### Prerrequisitos
- PostgreSQL instalado
- Bibliotecas:
```sh
pip install ipython-sql
```
```sh
pip install sqlalchemy
```
```sh
pip install psycopg2
```

### Desactivar advertencia de Windows
>`powershell \c chcp 1252`

### Acceder a modo superusuario (postgres) en terminal Powershell
>`psql -U postgres`

### Crear un usuario desde la terminal `psql`

En modo super usuario

>(`postgres=#`) `CREATE USER username WITH PASSWORD 'secret';`

### Crear un database desde la terminal `psql`

En modo super usuario

>(`postgres=#`) `CREATE DATABASE db_name WITH OWNER 'username' ENCODING 'UTF8';`

### Creando conexi√≥n

Formato:

`dialect+driver://username:password@host:port/db_name`

Para PostgreSQL:

`postgresql://username:password@localhost:5432/db_name`

Reemplazar `username`, `password` y `db_name`

In [ ]:
from sqlalchemy import create_engine

In [1]:
%load_ext sql
%sql postgresql://emilianodesu:password123@localhost:5432/test

In [2]:
%%sql
DROP TABLE IF EXISTS users;

 * postgresql://emilianodesu:***@localhost:5432/test
Done.

[]

In [3]:
%%sql
CREATE TABLE IF NOT EXISTS users (
    name VARCHAR(128),
    email VARCHAR(128) 
);

 * postgresql://emilianodesu:***@localhost:5432/test
Done.

[]

In [4]:
%%sql
INSERT INTO users (name, email) VALUES ('Chuck', 'csev@umich.edu') ;
INSERT INTO users (name, email) VALUES ('Somesh', 'somesh@umich.edu') ;
INSERT INTO users (name, email) VALUES ('Caitlin', 'cait@umich.edu') ;
INSERT INTO users (name, email) VALUES ('Ted', 'ted@umich.edu') ;
INSERT INTO users (name, email) VALUES ('Sally', 'sally@umich.edu') ;

 * postgresql://emilianodesu:***@localhost:5432/test
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [5]:
%%sql
SELECT * FROM users;

 * postgresql://emilianodesu:***@localhost:5432/test
5 rows affected.

[('Chuck', 'csev@umich.edu'),
 ('Somesh', 'somesh@umich.edu'),
 ('Caitlin', 'cait@umich.edu'),
 ('Ted', 'ted@umich.edu'),
 ('Sally', 'sally@umich.edu')]

In [6]:
%%sql
SELECT * FROM users WHERE email='csev@umich.edu';

 * postgresql://emilianodesu:***@localhost:5432/test
1 rows affected.

[('Chuck', 'csev@umich.edu')]

In [7]:
%%sql
DELETE FROM users WHERE email='ted@umich.edu';

 * postgresql://emilianodesu:***@localhost:5432/test
1 rows affected.

[]

In [8]:
%%sql
UPDATE users SET name='Charles' WHERE email='csev@umich.edu';

 * postgresql://emilianodesu:***@localhost:5432/test
1 rows affected.

[]

In [9]:
%%sql
SELECT * FROM users WHERE email='csev@umich.edu';

 * postgresql://emilianodesu:***@localhost:5432/test
1 rows affected.

[('Charles', 'csev@umich.edu')]

In [10]:
%%sql
SELECT * FROM users ORDER BY email;

 * postgresql://emilianodesu:***@localhost:5432/test
4 rows affected.

[('Caitlin', 'cait@umich.edu'),
 ('Charles', 'csev@umich.edu'),
 ('Sally', 'sally@umich.edu'),
 ('Somesh', 'somesh@umich.edu')]

In [11]:
%%sql
SELECT * FROM users WHERE name LIKE '%e%';

 * postgresql://emilianodesu:***@localhost:5432/test
2 rows affected.

[('Somesh', 'somesh@umich.edu'), ('Charles', 'csev@umich.edu')]

In [12]:
%%sql
SELECT * FROM users ORDER BY email DESC LIMIT 2;

 * postgresql://emilianodesu:***@localhost:5432/test
2 rows affected.

[('Somesh', 'somesh@umich.edu'), ('Sally', 'sally@umich.edu')]

In [13]:
%%sql
SELECT * FROM users ORDER BY email OFFSET 1 LIMIT 2;

 * postgresql://emilianodesu:***@localhost:5432/test
2 rows affected.

[('Charles', 'csev@umich.edu'), ('Sally', 'sally@umich.edu')]

In [14]:
%%sql
SELECT COUNT(*) FROM users;

 * postgresql://emilianodesu:***@localhost:5432/test
1 rows affected.

[(4,)]

In [15]:
%%sql
SELECT COUNT(*) FROM users WHERE email='csev@umich.edu';

 * postgresql://emilianodesu:***@localhost:5432/test
1 rows affected.

[(1,)]

#### Importando datos con pandas

In [ ]:
engine = create_engine('postgresql://emilianodesu:password123@localhost:5432/test')

In [7]:
import pandas as pd
test_df = pd.read_sql('SELECT * FROM users;', engine)
test_df.head()

      name             email
0   Somesh  somesh@umich.edu
1  Caitlin    cait@umich.edu
2    Sally   sally@umich.edu
3  Charles    csev@umich.edu